<!DOCTYPE html><html lang="en"><head>
  <meta charset="utf-8">
  <title>TestCouch</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="static/styles.31d6cfe0d16ae931b73c.css"></head>
<body>
  <app-root></app-root>
<script src="static/runtime.b50e51229400fa0c6d95.js" defer></script><script src="static/polyfills.1f14cc9ebb93f0fa6eb0.js" defer></script><script src="static/main.5e1803cec6575a835f9e.js" defer></script>

</body></html>